@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins=", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  margin: 0;
  /* padding: 20px; */
  color: #333;
  position: relative;
  isolation: isolate;
}


nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 100;
  margin-bottom: 5px;
  background-color: #149279;

}

.nav_header {
  padding: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #149279;
}

.nav_logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.nav_logo img {
  display: flex;
  width: 50px;
  height: 50px;
}


/* .nav_logo span {
  display: none;
} */

.nav_menu_btn {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.nav_links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #149279;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%)
}


.nav_links.open {
  transform: translateY(0);
}

.nav_links a {
  font-size: 1rem;
  font-weight: 30px;
  color: white;
}

.nav_links a:hover {
  color: rgb(255, 174, 0);
  font-size: 20px;
  font-weight: bold;
}

.container {
  position: relative;
  top: 90px;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #1abc9c;
  margin-top: 30px;
}

#reports-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.report-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.report-image {
  width: 100%;
  height: 150px;
  min-height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.report-details {
  padding-top: 14px;
  line-height: 1.6;
  padding: 10px;
}


button {
  display: block;
  width: 100%;
  background: #149279;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: #127c6d;
}

.error {
  color: red;
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 0.7rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav_header {
    padding: 0;
    background-color: transparent;
  }

  .nav_logo span {
    display: flex;
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav_links a:hover {
    color: rgb(255, 174, 0);
    font-size: 20px;
    font-weight: bold;
  }

  .container {
    position: relative;
    top: 35px;
    padding: 2%;
    margin: 20px auto;
  }

  .report-card {
    width: 90%;
  }
}