@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins=", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f8f5;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 100;
  height: 10%;
  margin-bottom: 5%;
  background-color: #149279;
}

.nav_header {
  padding: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #149279;
}

.nav_logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.nav_logo img {
  display: flex;
  width: 50px;
  height: 50px;
}

/* .nav_logo span {
  display: none;
} */

.nav_menu_btn {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.nav_links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #149279;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%)
}


.nav_links.open {
  transform: translateY(0);
}

.nav_links a {
  font-size: 1rem;
  font-weight: 30px;
  color: white;
  text-decoration: none;
}

.nav_links a:hover {
  color: rgb(255, 174, 0);
  font-size: 20px;
  font-weight: bold;
}


.container {
  position: relative;
  top: 90px;
  background: #fff;
  padding: 30px 80px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
  max-width: 600px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  color: #149279;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #149279;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #149279;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 100, 0, 0.2);
}

button {
  background-color: #149279;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  transition: 0.3s;
}

button:hover {
  background-color: white;
  color: #149279;
  border: 2px solid #149279;
}

.hidden {
  display: none;
}

a {
  color: #149279;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.severity-options {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.radio-option input {
  margin-right: 10px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all 0.2s ease;
}

.radio-option label {
  display: inline-block;
  padding-bottom: 10px;
}


@media (width > 768px) {
  nav {
    position: static;
    padding: 0.7rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  ul {
    list-style: none;
  }

  .nav_header {
    padding: 0;
    background-color: transparent;
  }

  .nav_logo a {
    text-decoration: none;
  }

  .nav_logo span {
    display: flex;
    text-decoration: none;
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav_links a {
    text-decoration: none;
  }

  .nav_links a:hover {
    color: rgb(255, 174, 0);
    font-size: 20px;
    font-weight: bold;
  }

  .container {
    position: relative;
    top: 8px;
    background: #fff;
    padding: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
  }
}